<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hussain_chachuliya.customsearch">

    <application>
        <activity android:name=".CustomSearch"
            android:label="@string/lbl_search"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>